@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  font-family: var(--outfit);
  margin: 0;
}
:root {
  /* Primary colors  */
  --softBlue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);

  /* secondary colors */
  --veryDarkBlue: hsl(217, 54%, 11%); /*(main BG)*/
  --DarkBlue: hsl(216, 50%, 16%); /*(card BG)*/
  --veryDarkLine: hsl(215, 32%, 27%); /*(line)*/
  --white: hsl(0, 0%, 100%);
  /* Font Family  */
  --outfit: 'Outfit', sans-serif;
}

body {
  display: flex;
  height: 100vh;
  width: 100%;
}
.container {
  display: flex;
  background-color: var(--veryDarkBlue);
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main {
  display: flex;
  background-color: var(--DarkBlue);
  height: 550px;
  border-radius: 10px;
  color: var(--white);
  justify-content: center;
  width: 330px;
  flex-direction: column;
  border-radius: 15px;
  align-items: center;
}

div.image {
  height: 275px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  overflow: hidden;
  border-radius: 15px;
  position: relative;
  bottom: 20px;
  transition: all ease-in-out 0.35s;
}

.eyeCon {
  position: absolute;
  opacity: 0;
  width: 100%;
  justify-self: center;
  left: 123px;
}
.image:hover .eyeCon {
  opacity: 1;
  transition: all ease-in 0.35s;
}
.image:hover img {
  background-color: var(--cyan);
}
.image img {
  width: 290px;
  /* height: 100%; */
}

.otherHalf {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 25px;
  margin-bottom: 0px;
}

.otherHalf h2 {
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 20px;
  transition: all ease-in 0.35s;
}

.otherHalf h2:hover {
  color: var(--cyan);
}

.otherHalf h4 {
  font-weight: 300;
  font-size: 17px;
  color: var(--softBlue);
  line-height: 25px;
  margin-bottom: 20px;
}
.daysNCrypto {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.daysNCrypto .left {
  display: flex;
  color: var(--cyan);
  font-weight: 600;
  height: 20px;
  width: 100px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

.daysNCrypto .right {
  display: flex;
  flex-direction: row;
  width: 95px;
  justify-content: space-between;
  align-items: center;
  color: var(--softBlue);
}

.aftHr {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  top: 20px;
  font-size: 16px;
  font-weight: 400;
}
.aftHr .usrimg {
  width: 30px;
  margin-right: 15px;
  border: 1px;
  border-radius: 100%;
  border-color: var(--white);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 0.2px var(--white) solid;
}

.usrimg img {
  max-width: 100%;
  border-color: var(--white);
}

.aftHr p span {
  color: var(--softBlue);
}
.aftHr p {
  transition: all ease-in-out 0.35s;
}

.aftHr p:hover {
  color: var(--cyan);
}
