@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  font-family: var(--outfit);
  margin: 0;
}
:root {
  /* Primary colors  */
  --softBlue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);

  /* secondary colors */
  --veryDarkBlue: hsl(217, 54%, 11%); /*(main BG)*/
  --DarkBlue: hsl(216, 50%, 16%); /*(card BG)*/
  --veryDarkLine: hsl(215, 32%, 27%); /*(line)*/
  --white: hsl(0, 0%, 100%);
  /* Font Family  */
  --outfit: 'Outfit', sans-serif;
}

body {
  display: flex;
  height: 100vh;
  width: 100%;
}
.container {
  display: flex;
  background-color: var(--veryDarkBlue);
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main {
  display: flex;
  background-color: var(--veryDarkLine);
  height: 550px;
  border-radius: 10px;
  color: var(--white);
  justify-content: center;
  width: 330px;
  flex-direction: column;
  border-radius: 15px;
  align-items: center;
}

div.image {
  height: 275px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  overflow: hidden;
  border-radius: 15px;
  position: relative;
  bottom: 20px;
}

.image img {
  width: 290px;
  /* height: 100%; */
}

.otherHalf {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 25px;
  margin-bottom: 30px;
}

.otherHalf h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.otherHalf h4 {
  font-weight: 400;
  font-size: 16px;
  color: var(--softBlue);
}
