@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  font-family: var(--outfit);
  margin: 0;
}
:root {
  /* Primary colors  */
  --softBlue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);

  /* secondary colors */
  --veryDarkBlue: hsl(217, 54%, 11%); /*(main BG)*/
  --DarkBlue: hsl(216, 50%, 16%); /*(card BG)*/
  --veryDarkLine: hsl(215, 32%, 27%); /*(line)*/
  --white: hsl(0, 0%, 100%);
  /* Font Family  */
  --outfit: 'Outfit', sans-serif;
}

body {
  display: flex;
  height: 100vh;
  width: 100%;
}
.container {
  display: flex;
  background-color: var(--veryDarkBlue);
  width: 100%;
  justify-content: center;
  align-items: center;
}

.main {
  background-color: var(--veryDarkLine);
  height: 70%;
  border-radius: 10px;
  color: var(--white);
  justify-content: space-around;
}

.main .image {
  height: 50%;
  width: 90%;
}

.image .img {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background: url('/assets/images/image-equilibrium.jpg');
}
